@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Preahvihear Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Preahvihear Regular'), url('/fonts/Preahvihear-Regular.woff') format('woff');
  }

body {
  font-family: Arial, Helvetica, sans-serif , 'Preahvihear Regular';
  background-color: black;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}



